<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="iktaniyalol.ru.technicalassistant.interfaces">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Holo.Light">
        <activity
            android:name="MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="Math"
            android:label="Математика"></activity>
        <activity
            android:name="Phys"
            android:label="Физика"></activity>
        <activity
            android:name="Info"
            android:label="Информатика"></activity>
        <activity
            android:name="TheorAlg"
            android:label="Алгебра"></activity>
        <activity
            android:name="TheorGem"
            android:label="Геометрия"></activity>
        <activity
            android:name="KorenStepen"
            android:label="Корень и степень числа"></activity>
        <activity
            android:name="Urav"
            android:label="Решение уравнений"></activity>
        <activity
            android:name="Numbertosystem"
            android:label="Перевод в различные системы счисления"></activity>
    </application>


</manifest>